@font-face {
    src: url("../fonts/Roboto-Medium.ttf);
}

#root * {
    -fx-font-family: "Roboto Medium";
}
label{
    -fx-font-family: "Roboto Medium";
}

#progressBar > .track {
    -fx-background-image: url("../images/progress_bar.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

#progressBar > .bar {
    -fx-background-image: url("../images/progress_bar_filled.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.close_btn{
    /*-fx-background-size: 100% 100%;
    -fx-font-size: 20px;
    -fx-graphic: url("../images/close_btn.png");*/
}

.close_btn:hover{
    /*-fx-graphic: url("../images/close_btn_hover.png");*/
}